.about-company-hero{
    .about-company-wrapper{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 1rem;
        border-radius: 8px;
        overflow: hidden;
        
        @include md{
            height: 240px;
        }

        @include lg{
            height: 480px;
            padding: 1.6rem;
        }

        .about-company-header{
            color: white;
            background: $primary-dark;
            margin: 0 auto;
            width: max-content;
            padding:.4rem 1rem;
            text-transform: uppercase;
        }
        .about-company-text{
            font-family: 'poppins';
            margin-top: 1rem;
            text-align: center;
            color: white;
            
            @include md{
                font-size: 2rem;
            }

            @include lg{
                font-size: 54px;
                line-height: 152%;
                letter-spacing: 0.0015em;

                color: #FFFFFF;
            }
        }
        .about-company-img-wrapper{
            .about-company-img{
                z-index: -1;
                object-fit: cover;
                
                
            }
        }
        .about-company-overlay{
            position: absolute;
            z-index: -1;
            height: 100%;
            width: 100%;
            background: rgba(77, 23, 123, 0.25);
        }
    }
}

.top-reasons{
    .top-reasons-head{
        text-align: center;

        .top-reasons-tittle{
            font-size: 24px;
            line-height: 152%;
            font-family: 'Open Sans';
            margin-bottom: 0.5rem;
            
            @include lg{
                font-size: 55px;
            }
        }

        .top-reasons-text{
            color: rgba(34, 34, 34, 0.6);
            font-size: 14px;
            line-height: 152%;

            @include lg{
                font-size: 20px;
                line-height: 152%;
            }
        }
    }

    .top-reasons-grp-wrapper{
        margin-top: 2rem;
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 4px;
        padding-block: 1rem;

        @include lg{
            margin-top: 3rem;
            border-radius: 8px;
            padding-block: 2rem;
        }
    }

    .top-reasons-grp{
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        margin-inline: auto;
        
        @include lg{
            width: 90%;
            align-items: center;
            justify-content: space-around;
        }

        .top-reasons-item{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            border-right: 1px solid grey;
           
            &:last-child{
                border-right: none;
            }    

            & .item-container{
                display: flex;
                align-items: center;
                flex-direction: column;

                @include lg{
                    flex-direction: row;
                }
            }

            .top-reasons-icon-wrapper{
                position: relative;
                width: 25px;
                height: 25px;
                margin: auto;

                @include lg{
                    width: 71px;
                    height: 71px;
                }

                .top-reasons-icon{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }

                @include lg{
                    &::before{
                        content: '';
                        display: inline-block;
                        background: #dfdddd;
                        height: 70px;
                        width: 70px;
                        border-radius: 50%;
                        right: 1rem;
                        bottom : 0.75rem;
                        position: absolute;
                    }
                }
            }
            .top-reasons-text{
                font-weight: 600;
                font-size: 13px;
                line-height: 152%;
                text-align: center;
                margin-top: 1rem;

                @include lg{
                    width: 100%;
                    margin: 0;
                    margin-left: 1rem;
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 28px;
                    line-height: 152%;
                }
            }
        }
    }
}

.help-msg-container{

    .help-msg-head{
        font-family: 'Source Sans Pro';
        font-weight: 600;
        text-align: center;
        font-size: 24px;
        line-height: 134%;
        width: 80%;
        margin-inline: auto;
        margin-bottom: 2rem;

        @include lg{
            width: 90%;
            text-align: start;
            font-size: 48px;
            line-height: 134%;
        }
    }

    .help-msg-item{
        text-align: center;
        margin-bottom: 2rem;

        @include lg{
            text-align: start;
        }

        .cricle-span{
            text-align: start;
            width: 24px;
            height: 24px;
            background: $primary-dark;
            border-radius: 50%;
            display: none;
            @include lg{
                display: block;
                position: absolute;
                width: 38px;
                height: 38px;
                margin-top: 10px;
                
            }
        }

        .help-msg{
            @include lg{
                width: 95%;
                line-height: 1.8rem;
                font-size: 1.4rem;
                padding-left: 5rem;
            }
        }
    }
}

.our-coders-container{
    background: #EDF3F9;
    padding-block: 2rem;

    @include lg{
        padding-block: 3rem;
    }

    .our-coders-img-grp{
        display: flex;
        justify-content: space-between;

        @include lg{
            width: 90%;
            justify-content: space-around;
        }

        .our-coders-img-col{
            display: flex;
            flex-direction: column;
            width: 100%;

            &:first-child{
                margin-top: 2rem;

                @include lg{
                    margin-top: 5rem;
                }
            }

            .our-coders-img-wrapper{
                margin: 0.5rem;
                .our-coders-img{
                    width: 100%;
                    height: auto;
                    object-fit: contain;
                }
            }
        }
    }
    .our-coders-content-grp{
        margin-top: 1.4rem;
        .our-coders-title{
            font-size: 24px;
            line-height: 137%;
            width: 80%;

            @include lg{
                font-size: 55px;
                line-height: 133%;
            }
        }
            .our-coders-text-grp{
                display: flex;
                align-items: start;
                justify-content: center;
                gap: 1rem;
                margin-top: 1.4rem;

                .our-coders-check{
                    color: #4D177B;
                    font-size: 2rem;

                    @include lg{
                        font-size: 2.4rem;
                    }
                }

                .our-coders-text{
                    font-size: 14px;
                    line-height: 202%;

                    @include lg{
                        font-size: 20px;
                        line-height: 202%;
                        font-size: 'open sans';
                    }
                }
            }
    }
}

.our-team{
    .our-team-header{
        margin-bottom: 2rem;

        @include lg{
            margin-bottom: 4rem;
        }

        .our-team-tittle{
            font-size: 32px;
            line-height: 152%;
            text-align: center;
            margin-bottom: 0.5rem;

            @include lg{
                font-family: 'Source Sans Pro';
                font-size: 55.0692px;
                line-height: 152%;
            }
        }
        .our-team-subtext{
            text-align: center;
            font-size: 14px;
            line-height: 152%;
            color: rgba(34, 34, 34, 0.6);

            @include lg{
                font-size: 20px;
                line-height: 152%;
            }
        }
    }

    .our-team-grp{
        margin-top: 2rem;
        text-align: center;                

        @include lg{
            display: flex;
            justify-content: space-around;
        }
        .our-team-item{
            margin-bottom: 3rem;
            .our-team-img-wrapper{
                position: relative;
                height: 200px;
                width: 200px;
                margin: 0 auto 1rem;

                @include lg{
                    height: 300px;
                    width: 300px;
                }
                .our-team-img{
                    object-fit: contain;
                }
            }

            .our-team-name{
                font-weight: 600;
                font-size: 26.6667px;
                line-height: 152%;
                margin-bottom: 0.5rem;

                @include lg{
                    font-size: 24px;
                    line-height: 152%;
                }
            }
            .our-team-role{
                font-size: 18.6667px;
                line-height: 152%;
                color: rgba(0, 0, 0, 0.6);

                @include lg{
                    font-size: 16px;
                    line-height: 152%;
                }
            }
        }
    }
}

.our-vision{
    @include lg{
        display: flex;
        justify-content: space-evenly;
        padding-top: 1rem;
    }
    .our-vision-grp{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: .3rem;

        @include lg{
            justify-content: start;
        }

        .our-vision-img-wrapper{
            position: relative;
            height: 180px;
            width: 80vw;
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);

            @include lg{
                height: 350px;
                width: 480px;
            }

            .our-vision-img{
                object-fit: cover;
            }
        }
        .our-vision-tittle{
            color:  #D5D0DA;
            font-family: 'poppins';
            font-size: 33.1943px;
            line-height: 53px;
            font-weight: 500;
            rotate: -90deg;
            width: 10%;
            height: 10%;

            @include lg{
                font-size: 63.2715px;
                line-height: 100px;
            }
        }
    }
    .our-vision-text{
        font-family: 'poppins';
        font-weight: 500;
        font-size: 16px;
        line-height: 32px;
        margin-top: 1rem;

        @include lg{
            font-size: 36px;
            line-height: 62px;
        }
    }
}

.our-mission{
    .our-mission-grp{
        display: grid;
        grid-template: 1fr 100% / 15vw 1fr;

        @include lg{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2.4rem;
        }
        
        .our-mission-img-wrapper{
            position: relative;
            height: 180px;
            width: 100%;
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
            order: 2;

            @include lg{
                height: 350px;
                width: 480px;
                order: 3;
                
            }

            .our-mission-img{
                object-fit: cover;
            }
        }
        .our-mission-tittle{
            order: 1;
            color:  #D5D0DA;
            font-family: 'poppins';
            font-size: 33.1943px;
            line-height: 53px;
            font-weight: 500;
            margin-top: auto;
            margin-bottom: auto;
            rotate: -90deg;

            @include lg{
                font-size: 63.2715px;
                line-height: 100px;
            }
        }
        .our-mission-text{
            order: 3;
            grid-area: 2 / 1 / 3 / 3;
            font-size: 16px;
            line-height: 32px;
            font-weight: 500;
            margin-top: 1rem;

            @include lg{
                order: 2;
                font-size: 36px;
                line-height: 62px;
                width: 35%;
            }
        }
    }
}