

.consulting-hero{

    height: 200px;
    width: 100%;
    @include lg{ 
    height: 700px;
    width: 100%;
    }
    
    
    .consulting-main{
        
            
          
        @include lg{
        background-image: url("/assets/images/consulting1.png");
        
                
            background-repeat: no-repeat;
            background-position: right;
            width: 100%;
            height: 725.62px;
            top: -3.12px;
        }
    }
  

    .hero-tittle{
       
        position: absolute;
        
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        /* or 167% */
        
        letter-spacing: 0.0115em;
        
        color: #000000;
        

        @include lg{
        position: absolute;
    
        padding-top: 3.5cm;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 53px;
        line-height: 83px;
        /* or 157% */

        letter-spacing: 0.0115em;

        color: #000000;
        }
        

        &-one{

            width: 75%;
            @include lg{
                width: 50%;
            }
           
        }
    }
    .consulting-contact-btn{
        margin-left: -2cm;
        margin-top: -4cm;
        border: 2px solid #000000;
        
        font-family: 'Source Sans Pro';
        text-transform: uppercase;
        color:white;
        background-color: #000000;
        &:focus, &:active{
            color: $primary-dark;
        }

        &:hover{
            color: #1FBEFF;
        }
        @include lg{
        margin-top: 2.8rem;
        margin-left: 0;
        border: 2px solid black;
        padding: .6rem 2.6rem;
        font-family: 'Source Sans Pro';
        text-transform: uppercase;
        color:white;
        background-color: #000000;
        
        }
        &:focus, &:active{
            color: $primary-dark;
        }

        &:hover{
            color: #1FBEFF;
        }
    }



    .bgimg1{
      
        margin-top: -1cm;
        
        @include lg{
        position: absolute;
        width: 384px;
        height: 352px;
        left: -150px;
        top: 44.5px;
        z-index:-1;
        background: #E8DEF3;
        filter: blur(50px);
        }
    }
    .bgimg2{
        height: 0;
        width: 0;
        
        @include lg{
        position: absolute;
        width: 249px;
        height: 249px;
        left: 259px;
        top: 645px;
        z-index: -1;
        background: rgba(183, 78, 247, 0.41);
        filter: blur(104px);
        }
    }
    .bgimg3{
        height: 0;
        width: 0;
        @include lg{
        position: absolute;
        width: 384px;
        height: 352px;
        left: 1216px;
        top: 467px;
        z-index:-2;
        background: #E8DEF3;
        filter: blur(50px);
        }
    }
    .bgimg4{
        margin-top: -15cm;
        @include lg{
        position: absolute;
        width: 93px;
        height: 86px;
        left: 1338px;
        top: 83px;
        z-index: -1;
        background-color: hsla(278, 76%, 55%, 0.7);
        filter: blur(36.5px);
        }
    }

   
}


.overview{
    width: 100%;
    height: 8cm;
    
    

    &-table{
        width: 90%;
        height: 7cm;
        margin-top: 1cm;
        border-radius: 3px solid black;
        background-color: #E9EFFA;;
        margin-left: 5%;

        @include lg{
        width: 70%;
        height: 7cm;
        margin-top: 1cm;
        border-radius: 3px solid black;
        background-color: #E9EFFA;;
        margin-left: 15%;

        }
        &-tittle{
            font-family: 'Source Sans Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            padding-top: 2rem;
            text-align: center;
            letter-spacing: 0.001em;
            text-transform: uppercase;

            color: #000000;
            @include lg{
            text-align: center;
            padding-top: 1rem;
            font-family: 'Source Sans Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 25.2755px;
            line-height: 32px;
            /* identical to box height */

            letter-spacing: 0.001em;
            text-transform: uppercase;

            color: #000000;
            }

        }

        &-head{

            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            text-align: center;

            letter-spacing: 0.001em;

            color: #000000;

            @include lg{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 52.2648px;
            line-height: 78px;
            letter-spacing: 0.001em;
            text-align: center;
            padding-right: 10px;
            color: #000000;
            }
        }
        &-text{

            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 28px;
            /* or 200% */

            text-align: center;
            letter-spacing: 0.005em;

            color: #000000;
            @include lg{
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 38px;
            width: 900px;
           
            padding-left: 7rem;
            text-align: center;
            letter-spacing: 0.005em;

            color: #000000;
            }
        }
    }

   
}

.scale{
    height: 150px;
    width: auto;
    


    &-div{
        height: 200px;
        display: flex;
        
        flex-direction: column;
        @include lg{
        height: 145px;
        display: flex;
        flex-direction: row;
        }

        &-tittle{
            width:360px ;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 50.6017px;
            line-height: 73px;
            /* or 144% */
    
            letter-spacing: 0.001em;
    
            color: #000000;
        }


        &-table{
            width: 100%;
            
            border: 0.257624px solid rgba(0, 0, 0, 0.3);
            border-radius: 2.061px;
            @include lg{
            box-sizing: border-box;
               margin-left: 1cm;
            width: 1000px;
                
            border: 5.693122px solid rgba(0, 0, 0, 0.3);
            border-radius: 5.54497px;
            }


            &-column{
                display: flex;
                flex-direction: row;

                &-main{
                    padding: 0;
                    @include lg{
                    padding-top: 1.5rem;
                   padding-left: 3rem;
                    }
                   
                    &-line{
                        border: 1.693122px solid #676565;
                        transform: rotate(180deg);
                        height: 2cm;
                        
                        margin-top: 5px;
                        
                        
                        @include lg{
                        border: 1.693122px solid #676565;
                        transform: rotate(180deg);
                        margin-left: 4cm;
                        height: 3cm;
                        margin-top: 10px;
                        }
                    }
                }
            }
        }
    }
    
}


.fourthpart{
    height: 20cm;
    
    @include lg{
    height: 13cm;
    }
            &-head{
                width: 100%;
            background-repeat: no-repeat;
            height: 409.62px;
            margin-top: 2cm;
            

            background-image: url("/assets/images/four.png");
            
                @include lg{
                    margin-top: 0cm;
            width: 100%;
            background-repeat: no-repeat;
            height: 409.62px;
            
            

            background-image: url("/assets/images/four.png");

                }
            &-text{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 30px;
                padding-top: 13cm;

                letter-spacing: 0.005em;

                color: #232323;
                @include lg{
                padding-left: 50%;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                padding-top: 0;
                font-size: 44px;
                line-height: 73px;
                

                letter-spacing: 0.005em;

                color: #232323;
                }
            }
        }
    

}


.path{
    height: 20cm;
    @include lg{
    height: 20cm;
    }
    &-head{
        @include lg{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 55.0692px;
        line-height: 130%;
        /* identical to box height, or 84px */

        
        letter-spacing: 0.0015em;

        color: #000000;
        }
    }

    &-div{
        
        @include lg{
        display: flex;
        flex-direction: row;
        margin-top: 3cm;
        }

        &-main-names{
            text-align: center;
            @include lg{
                text-align: left;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 300;
            font-size: 38px;
            line-height: 50px;
            width: 10cm;

            letter-spacing: 0.005em;

            color: #000000;
            }
        }
        &-main-line{
            
                border: 0.693122px solid #000000;
                margin-bottom: 1cm;
                
        }

        &-main2{
            background: #ECECEC;
            border-radius: 4px;
            @include lg{
            width: 737px;
            height: 325px;
            left: 638px;
            top: 2259px;
            margin-left: 15%;
            background: #ECECEC;
            border-radius: 4px;
            }

            &-head{
                text-align: center;
                @include lg{
                    text-align: left;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 40px;
                line-height: 61px;
                padding-left: 1rem;
                padding-top: 1rem;

                letter-spacing: 0.005em;

                color: #000000;
                }
            }
            &-text{
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 300;
                font-size: 18px;
                line-height: 30px;
                padding-top: 1rem;
                padding-left: 1rem;
                letter-spacing: 0.0015em;
                padding-right: 1rem;
                color: #000000;
            }
        }
    }
}


.help{
    height: 33cm;
    background-color: #ECECEC;
    @include lg{
    height: 17cm;
    background-color: #ECECEC;
    }
    &-tittle{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        /* identical to box height */

        letter-spacing: 0.005em;

        color: #000000;
        @include lg{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 46.114px;
        line-height: 91px;
        /* identical to box height, or 197% */

        letter-spacing: 0.005em;

        color: #000000;
        }
    }

    &-text{

        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        /* or 168% */

        letter-spacing: 0.0015em;

        color: #000000;
        @include lg{
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 31px;
            width: 728px;
    
            letter-spacing: 0.005em;
    
            color: #000000;
        
        }

    }

    &-div{
        display: flex;
        flex-direction: column;
       @include lg{
        display: flex;
        flex-direction: row;
       }
        &-container{
            width: 90%;
            margin-left: 5%;
            background: #FFFFFF;
            border-radius: 8px;
            margin-top: 1cm;
            @include lg{
            width: 360px;
            height: 359px;
            margin-left: 2cm;
            margin-top: 0;
            background: #FFFFFF;
            border-radius: 8px;
            }
        }

        &-img{
            margin-top: 1rem;
            margin-left: 1rem;
            width: 48px;
            height: 48px;
            background: #000;
        }

        &-tittle{
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 26px;
            line-height: 46px;
            /* identical to box height, or 178% */

            letter-spacing: 0.005em;
            text-transform: uppercase;

            color: #000000;
            padding-top: 1.5rem;
            padding-left: 1rem;
        }
        &-text{
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 41px;
            padding-left: 1rem;
            padding-top: 1rem;
            letter-spacing: 0.005em;
            padding-right: 1rem;
            color: #232323;
        }

       
    }
}


.values{
    height: 23cm;
    @include lg{
    height: 15cm;
    }
    &-div{
        display: flex;
        flex-direction: column;
        @include lg{
        display: flex;
        flex-direction: row;
        }
        
            
        &-one{
            width: 321px;
            height: 321px;
            margin-left: .5cm;
            @include lg{
            width: 481px;
            height: 481px;
            margin-left: 2cm;
            }
           
        }

        &-two{
            display: flex;
            flex-direction: column;
            
            @include lg{
            display: flex;
            flex-direction: column;
            margin-left: 10%;
            }

            &-one{
                display: flex;
                flex-direction: row;
                margin-left: 10%;

            &-first{
                width: 65px;
                

                    &-alpha{
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 44.5714px;
                    padding-top: 1cm;
                    /* identical to box height, or 149% */

                    letter-spacing: 0.005em;

                    color: rgba(0, 0, 0, 0.5);
                    }
                
                
            }

            &-secound{
                width:650px;
                

                &-beta{
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                
                    /* or 144% */
                    padding-top: 1cm;
                    padding-left: 1cm;
                    letter-spacing: 0.005em;

                    color: #232323;
                }

            }
        }

        }
    
    }

}

.offer{
    margin-top: 5cm;
    height: 7cm;
    background-repeat: no-repeat;
    width: 100%;
    background-image: url("/assets/images/last.png");
    background-size: contain;
    
    @include lg{
        margin-top: 0;
    height: 25cm;
    width: 100%;
    background-image: url("/assets/images/last.png");
        }

    
}