.enterprise-hero-banner{
    height: 90vh;
    background-color: #F2F0FD;

    .content-container{
        align-items: center;
        justify-content: center;

        .content-title{
            font-size: 24px;
            line-height: 40px;
            margin-bottom: 1.5rem;
            font-weight: 400;

            @include lg{
                margin-bottom: 3rem;
                font-size: 53px;
                line-height: 83px;
            }
        }

        .btn__contact{
            font-weight: 500;
            font-size: 20px;
            line-height: 20px;
            padding: 1rem 2rem;
            background-color: #000000;
            color: #ffffff;
        }

        .hero-image{
            width: 100%;
            height: auto;
        }
    }
}

.enterprise-content-section{
    .content-container{
        text-align: center;
        max-width: 1150px;

        .content-title{
            font-weight: 500;
            font-size: 24px;
            line-height: 36px;
            margin-bottom: 1.5rem;

            @include lg{
                font-size: 43px;
                line-height: 64px;
            }
        }

        .content-text{
            font-size: 14px;
            line-height: 24px;

            @include lg{
                font-size: 20px;
                line-height: 27px;
            }
        }
    }
}

.enterprise-software-section{
    padding-block: 45px;
    background-color: #EDF0F8;

    @include lg{
        padding-block: 90px;
    }

    .container-title{
        font-size: 24px;
        line-height: 152%;
        text-align: center;
        margin-bottom: 1rem;

        @include lg{
            text-align: start;
            margin-bottom: 100px;
            font-size: 55.0692px;
            line-height: 152%;
        }
    }

    .content-container{
        .content-text{
            margin: 1rem;
            font-size: 14px;
            line-height: 36px;

            @include lg{
                margin: 2rem;
                font-size: 24px;
                line-height: 36px;
            }
        }
    }
}

.enterprise-industries-section{
    .container-title{
        margin-bottom: 0.5rem;
        text-align: center;

        font-size: 24px;
        line-height: 152%;

        @include lg{
            text-align: start;
            font-size: 55.0692px;
            line-height: 152%;
        }
    }

    .container-text{
        margin-bottom: 1rem;
        text-align: center;
        max-width: 590px;

        font-size: 14px;
        line-height: 24px;

        @include lg{
            text-align: start;
            font-size: 22px;
            line-height: 38px;    
        }
    }

    .industries-list{
        align-items: center;
        justify-content: end;

        .industries-item{
            margin: 1rem;
            padding: 1rem;
            border: 1px solid rgba(0, 0, 0, 0.5);

            .bi{
                display: inline-block;
                margin-bottom: 0.5rem;
            }

            .item-name{
                font-weight: 600;
                font-size: 22.4147px;
                line-height: 35px;
                margin-bottom: 1rem;

                @include lg{
                    font-size: 20.3133px;
                    line-height: 31px;
                }
            }

            .item-text{
                font-size: 16px;
                line-height: 24px;
                margin: 0;
            }
        }
    }
}

.enterprise-erp-section{
    display: none;
    background-color: #232323;
    padding-block: 100px;

    @include lg{
        display: block;
    }

    .erp-container{
        display: grid;
        grid-template-columns: 1fr 1.5fr 1fr;
        grid-column-gap: 1rem;

        .erp-list{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: start;

            &__start{
                align-items: start;
            }

            &__end{
                align-items: end;
            }

            .erp-item{
                background-color: #ffffff;
                border-radius: 8px;
                padding: 1rem;
                display: inline-flex;
                align-items: center;

                .item-count{
                    font-weight: 600;
                    font-size: 20px;
                    height: 45px;
                    aspect-ratio: 1/1;
                    line-height: 30px;
                    background-color: #000000;
                    border-radius: 50%;
                    color: white;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 0.5rem;
                }

                .item-title{
                    margin: 0;
                    font-weight: 500;
                    font-size: 24px;
                }

                .item-text{
                    margin: 0;
                }
            }
        }

        .erp-content-wrapper{
            width: 100%;
            height: 100%;
            aspect-ratio: 1/1;
            border: 1px dotted #ffffff;
            border-radius: 50%;
            padding: 2rem;

            .erp-content-container{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                background-image: radial-gradient(165.6% 165.6% at 50% 52.03%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
                border-radius: 50%;
                text-align: center;
                font-size: min(60px, 4vw);

                & .content-title{
                    color: #232323;
                    font-weight: 500;
                    font-size: 0.5em;
                    line-height: 152%;

                    &-narrow{
                        display: block;
                        font-size: 2em;
                        line-height: 152%;
                    }
                }
            }
        }
    }
}

.enterprise-unique-section{
    // display: none;

    @include lg{
        display: block;
    }

    .container-title{
        font-weight: 400;
        color: rgba(35, 35, 35, 0.6);
        text-align: center;
        margin-bottom: 2rem;
        
        @include lg{
            margin-bottom: 4rem;
            font-size: 54.1153px;
            line-height: 75px;    
        }

        .title-bold{
            color: #232323;
            font-weight: 500;
        }
    }

    .watermark-text{
        display: none;

        text-align: center;
        font-weight: 600;
        font-size: min(151px, 8vw);
        line-height: min(271px, 14vw);
        color: rgba(35, 35, 35, 0.1);
        margin: 0;

        @include lg{
            display: block;
        }
    }

    .content-container{
        margin: 0;
        margin-bottom: 3rem;

        @include lg{
            margin-bottom: 0;
        }

        .content-title{
            font-weight: 500;
            color: #232323;
            border-bottom: 2px solid #232323;
            display: inline-block;
            margin-bottom: 1.5rem;
            padding-bottom: 1rem;
            
            @include lg{
                margin-bottom: 2rem;
                font-size: 44px;
            }
        }

        .content-text{
            font-weight: 400;
            color: #232323;
            margin-bottom: 1.5rem;

            @include lg{
                font-size: 20px;
                line-height: 209%;    
            }
        }

        .container-img{
            width: 100%;
            height: auto;

            @include lg{
                margin: 0;
            }

            &__1{
                max-width: 440px;
            }

            &__2{
                max-width: 520px;
            }
        }
    }
}