.hero-section{
    width: 100%;
    min-height: 90vh;
    display: flex;
    align-items: center;
    
    &-container{
        width: 90%;
        margin: 0 auto;
        border-bottom: 0.5px solid #232323;

        & .hero-title-container{
            & .hero-title{
                color: $--clr-black;
                @extend .fw-600;
                @extend .font-heading;
                @extend .mb-4;
            }
    
            & .hero-title-text{
                color: #444444;
                @extend .fw-300;
                @extend .font-list-title;
            }
        }

        & .get-started-btn{
            background-color: #232323;
            color: $--clr-white;
            font-size: 20px;
            @extend .rounded-pill;

            & .btn-text{
                padding: 0 2.5rem;
            }

            & .arrow-span{
                background-color: $--clr-white;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                height: 50px;
                width: 50px;
                border-radius: 50%;
                vertical-align: middle;

                & i{
                    color: $--clr-black;
                }
            }
        }

        & .intro-container{
            text-align: center;
            padding: 64px 0;

            & .intro-title{
                color: #444444;
                letter-spacing: 0.45em;

                @extend .font-body;
                @extend .fw-500;
            }

            & .intro-text{
                color: #000000;

                @extend .font-title-text;
            }
        }
    }
}

.about-us-section{
    margin-top: 100px;
    
    &-container{
        width: 90%;
        margin: 0 auto;

        & .about-us-content-container{
            & .about-us-title{
                color: rgba(35, 35, 35, 0.6);
                @extend .fw-600;
                @extend .font-list-title;
            }

            & .about-us-title-text{
                @extend .font-heading-small;
                @extend .fw-500;
            }

            & .about-us-desc{
                @extend .font-body;
            }

            & .contact-us-link{
                color: #232323;
                @extend .fw-600;
                @extend .font-body;
            }
        }
    }
}

.our-expertise-section{
    margin-top: 100px;

    &-container{
        width: 90%;
        margin: 0 auto;
    
        & .our-expertise-title{
            writing-mode: vertical-rl;
            transform: rotate(180deg);
            text-align: end;
            & .first{
                text-transform: uppercase;
                color: rgba(35, 35, 35, 0.5);
                margin-bottom: 6rem;
                @extend .font-heading-medium;
            }

            & .second{
                display: block;
                text-transform: uppercase;
                color: rgba(145, 132, 157, 0.38);
                font-size: 10rem;
            }
        }

        & .expertise-list{
            & .expertise-item{
                border: none;
                width: 60%;
                max-width: 400px;
                margin-bottom: 68px;
                @extend .shadow-lg;

                & .card-title{
                    color: #232323;
                    @extend .font-list-title;
                    @extend .fw-500;
                }

                & .card-text{
                    color: #444444;
                    letter-spacing: 0.05em;
                    @extend .font-body-small;
                }

                &:nth-child(even){
                    margin-left: auto;
                }
            }
        }
    }
}

.specialization-section{
    margin-top: 100px;

    & .specialization-section-container{
        width: 90%;
        margin: 0 auto;

        & .specialization-title{
            letter-spacing: 0.05em;
            @extend .font-heading-medium;

            & .first{
                display: block;
                @extend .fw-400;
            }

            & .second{
                display: block;
                @extend .fw-600;
            }
        }

        & .specialization-list{
            margin-top: 68px;
            & .specialization-item{
                padding-inline: 1rem;

                &-container{
                    background-color: black;
                    border-radius: 0.5rem;
                    display: flex;
                    @extend .shadow-lg;
                    
                    & .card{
                        margin-top: 10px;
                        border: none;
                        border-radius: 0.5rem;
                        padding-inline: 0.7rem;
                    }
    
                    & .card-title{
                        letter-spacing: 0.05em;
                        @extend .fw-500;
                        @extend .font-list-title;
                    }
    
                    & .card-text{
                        color: #444444;
                        letter-spacing: 0.05em;
                        @extend .font-body-small;
                    }
                }

                &__second{
                    margin-top: 100px;
                }

                &__third{
                    margin-top: -40px;
                }
            }
        }
    }
}