.home{

    display: flex;
    align-items: center;
    justify-content: center;

    @include lg{
        height: 85vh;
    }

    .home-content{
        width: 100%;
    }

    .hero-head-wrapper{
        @include lg{
            padding: 10rem 0;
        } @include xxl{
            margin: 64px 0;
        }
    }

    .hero-head{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 41px;
        line-height: 136%;
        letter-spacing: 0.02em;

        @include lg{
            width: 75%;
            font-size: 64px;
        }
    }

    .hero-text{
        @include lg{
            width: 75%;
            font-size: 24px;
        }
    }

    .hero-img-content{
        height: 100%;
    }

    .hero-img-wrapper{
        position:relative;
        overflow: hidden;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1.4rem;

        @include lg{
            height: 100%;
            margin-top: 0;
        }

        .hero-img{
            object-fit: contain;
            object-position: center;
        }
    }

    .hero-btn{
        background: $primary-dark;
        color: white;
        font-size: 16px;
        height: 3.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        white-space: nowrap;
        font-weight: 400;
        position: static;

        span{
            margin-left: auto;
        }

        @include lg{
            font-size: 20px;
            height: 4rem;
            width: 50%;
        }

        .btn-inner-arrow{
            font-size: 2.4rem;
            margin-left: auto;

            @include lg{
                font-size: 2.8rem;
            }
        }

        &:hover{
            border: 1px solid $primary-dark;
        }
    }
}

.home-intro{
    .home-intro-title{
        text-align: center;
        font-family: 'poppins';
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.45em;
        text-transform: uppercase;

        @include lg{
            font-size: 32px;
        }
    }
    .home-intro-text{
        text-align: center;
        margin: 0 auto;
        padding: 1rem;
        @include lg{
            padding: 0;
            font-size: 24px;
            width: 38%;
        }
    }
}

.home-about{
    .home-about-title{
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        display: flex;
        align-items: center;

        &::after{
            content: ' ';
            display: inline-block;
            width: 32px;
            margin-left: 12px;
            border: 1px solid #23232399;
        }
        
        @include lg{
            font-size: 24px;
        }
    }

    .home-about-header{
        font-family: 'poppins';
        font-size: 24px;
        font-weight: 500;
        width: 75%;

        @include lg{
            font-size: 48px;
            width: 60%;
        }
    }

    .home-about-text{
        line-height: 170%;

        @include lg{
            line-height: 200%;
        }
    }

    .home-about-link{
        font-family: 'open sans';
        font-weight: 600;
        text-decoration: underline;
        text-decoration-color: #23232399;
        color: $primary-dark;
    }

    .home-about-img-wrapper{
        position: relative;
        margin-top: 1rem;
        height: 320px;

        @include lg{
            height: 480px;
        }
        .home-about-img{
            object-fit: contain;
            object-position: center;
        }
    }
}

.expertise{

    .expertise-side-grp{
        height: 100%;

        .expertise-side-c{
            overflow: hidden;
            writing-mode: vertical-rl;
            rotate: -180deg;
        }

        .expertise-side-dec{
            color: rgba(145, 132, 157, 0.400);
            text-transform: uppercase;
            font-family: 'poppins';
            font-size:20px;
            text-align: end;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: .8rem;
            margin-bottom: 1.4rem;

            @include lg{
                font-size: 48px;
                margin-bottom: 5rem;
            }

            &::before{
                content: ' ';
                display: inline-block;
                height: 60px;
                border: 1px solid;
            }
        }
        .expertise-side-header{
            color: rgba(145, 132, 157, 0.400);
            text-transform: uppercase;
            font-family: 'poppins';
            font-size: 44px;
            letter-spacing: 1.2rem;
            line-height: .7;
            text-align: end;

            @include lg{
                font-size: 110px;
                line-height: .9;
            }
        }
    }

    .expertise-card-grp{
        .expertise-card{
            width: 80%;
            margin-bottom: 1rem;
            @include lg{
                width: 60%;
                border-radius: 8px;
                box-shadow: 0px 31px 38px rgba(0, 0, 0, 0.25);
                padding: 1rem;
                margin-bottom: 3rem;
            }
            &:nth-child(even){
                margin-left: auto;
            }

            .expertise-card-icon-wrapper{
                position: relative;
                height: 44px;
                width: 44px;

                @include lg{
                    height: 64px;
                    width: 64px;
                }

                .expertise-card-icon{
                    object-fit: contain;
                }
            }
            .expertise-card-title{
                font-weight: 600;
                margin-top: .2rem;
            }
            .expertise-card-text{
                margin-top: .4rem;
            }
            .expertise-link{
                display: none;
                @include lg{
                    display: block;
                    text-align: end;
                    color: black;
                    margin-top: .4rem;
                }
            }
        }
    }
}

.specialization{
    .special-header{
        .special-title{
            text-align: center;
            font-size: 1.4rem;
        }

        .special-lg-title{
            font-size: 2.4rem;
        }
    }

    .special-card-grp{

        @include lg{
            display: flex;
            justify-content: space-around;
            margin-top: 1.4rem;

        }

        .special-card{
            padding: 1rem;
            border-radius: 8px;
            border-top: 8px solid $primary-dark;
            margin-top: 24px;

            @include lg{
                width: 20%;
                box-shadow: 0px 4px 58px rgba(0, 0, 0, 0.14);

                &:nth-child(even){
                    margin-top: 7%;
                }
            }

            .special-card-header{
                display: flex;
                gap: 1rem;
                align-items: center;

                .special-card-icon-wrapper{
                        position: relative;
                        width: 28px;
                        height: 28px;

                        @include lg{
                            width: 40px;
                            height: 40px;
                        }
                    .sepcial-card-icon{
                        object-fit: contain;
                    }
                }
                .special-card-tittle{
                    font-weight: 600;
                    @include lg{
                        font-size: 1.2rem;
                    }
                }
            }

            .special-card-text{
                margin-top: .6rem;
                @include lg{
                    margin-top: .9rem;
                }
            }
        }
    }
}