.navbar{
    padding: 2rem 0 1rem;
    &-container{
        width: 90%;
        margin: 0 auto;
    }

    &-nav-container{
        & .navbar-nav{
            & .nav-item{
                margin: 0 3rem;

                & .nav-link{
                    color: $--clr-navbar-link;
                    text-transform: uppercase;
                }
            }
        }
    }

    &-contact-btn{
        background-color: $--clr-black;
        color: $--clr-white;
        font-weight: 500 !important;
        font-size: 20px;
        padding-inline: 1.7rem;

        @extend .btn;
        @extend .rounded-pill;
    }
}