.wedo-hero{
    &::before{
        content: ' ';
        display: inline-block;
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 40px 53.3px 35px;
        border-color: transparent transparent #D9F4FF transparent;
        transform: rotate(-10deg);
        left: -10%;

        @include lg{
            border-width: 0 100px 113.3px 95px;
            rotate: 5deg;
            left: -5%;
        }
    }
    .wedo-content{
        .wedo-img-wrapper{
            position: relative;
            height: 300px;
            margin: 0 1rem;
            @include lg{
                height: 700px;
            }
            .wedo-img{
                object-fit: contain;
            }

            .wedo-rocket-wrapper{
                position: relative;
                height: 28px;
                width: 28px;
                margin-top: auto;
                // border: 1px solid royalblue;
                top: 90%;
                rotate: -20deg;

                @include lg{
                    height: 54px;
                    width: 54px;
                    rotate: -10deg;
                }

                .we-rocekt{
                    object-fit: contain;
                }
            }
        }

        .wedo-body{
            margin-top: 1rem;
            text-align: center;
            font-family: 'poppins';
            @include lg{
                text-align: start;
                margin-top: 0;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            .wedo-hero-title{
                font-size: 2.6rem;
                @include lg{
                    font-size: 3.4rem;
                }
            }
            .wedo-sub-hero-txt{
                margin-top: 1rem;
            }
            .wedo-contact-btn{
                margin-top: 1.4rem;
                border: 2px solid #1FBEFF;
                padding: .6rem 2.6rem;
                font-family: 'Source Sans Pro';
                text-transform: uppercase;

                &:focus, &:active{
                    color: $primary-dark;
                }

                &:hover{
                    color: #1FBEFF;
                }
            }

        }
    }
}

.we-offer-container{
    .we-offer-header{
        text-align: center;
        font-family: 'Open Sans';
        font-style: normal;
                font-weight: 200;
                font-size: 45.46px;
                
        .we-offer-header-tittle{
            

          
               
               
                
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 55.46px;
                line-height: 66px;
            
        }
        .we-offer-header-text{
            margin-top: 1.4rem;
            font-size: 24.46px;
            @include lg{
                
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 28.46px;
                line-height: 48px;
                width: 25CM;

                text-align: center;
                margin-left: 18%;
                letter-spacing: 0.005em;
                
                
            }
        }
    }

    .we-offer-grp{
        .we-offer-grp-head{
            margin-top: 1.8rem;
            margin-bottom: 3rem;
            text-align: center;
            font-size: 2.8rem;
            font-family: 'Open Sans';
            @include lg{
                font-size: 2.4rem;
                margin: 5rem 0;
                font-family: 'Source Sans Pro';
                font-style: normal;
                font-weight: 400;
                font-size: 55.0692px;
                line-height: 152%;
                

                text-align: center;
                letter-spacing: 0.0015em;
            }
        }
        .we-offer-card-grp{
            @include lg{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
            }

            .we-offer-card{
                position: relative;
                margin-bottom: 3rem;
                padding: 1.8rem 0.75rem;
                display: flex;
                align-items: flex-start;
                gap: 1rem;
                background: #F8F7F7;

                @include lg{
                    width: 34%;
                    padding: 3rem 1rem;
                    background: #F8F7F7;
                    border-radius: 4.71642px;
                    margin-bottom: 5rem;
                }

                .we-offer-card-count{
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 4rem;
                    color: #D5D0DA;
                    line-height: normal;
                }
                .we-offer-card-content{
                    .we-offer-card-tittle{
                        font-family: 'Poppins';
                        font-weight: 600;
                        font-size: 1.2rem;
                        width: 60%;

                        @include lg{
                            width: 40%;
                        }
                    }
                    .we-offer-card-text{
                        color: #444444;
                        @include lg{
                            width: 80%;
                        }
                    }
                }
                .we-offer-icon-container{
                    padding: 1rem;
                    background: $primary-dark;
                    width: max-content;
                    border-radius: 50%;
                    position: absolute;
                    right: 0;
                    top: 0;
                    transform: translateY(-50%);

                    .we-offer-card-icon-wrapper{
                        position: relative;
                        height: 38px;
                        width: 38px;
                        .we-offer-icon{
                            object-fit: contain;
                        }
                    }
                }
            }
        }
    }
}

.sp{
    .sp-head{
        text-align: center;
        font-size: 2.6rem;

        @include lg{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 55px;
            line-height: 82px;



            color: #232323;
        }
    }

    .sp-text{
        margin-top: 1.4rem;
        text-align: center;
        font-weight: 300;
        font-size: 20px;
        @include lg{
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 209%;

            width: 940px;
            text-align: center;
            letter-spacing: 0.0015em;
            margin-left: 18%;
            color: #232323;
        }
    }
}

.hw{
    .hw-head{
        font-size: 2.6rem;
        font-weight: 500;
        @include lg{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 55px;
            line-height: 82px;
        }
    }

    .hw-text{
        margin-top: 1.4rem;
        font-weight: 300;
        font-size: 20px;
        @include lg{
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 40px;
            width: 909px;

            letter-spacing: 0.0015em;

            color: #000000;
        }
    }
}

.we-m{
    .we-m-grp{
        @include lg{
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .we-m-img-wrapper{
            position: relative;
            height: 220px;

            @include lg{
                height: 300px;
                width: 60%;
            }
            .we-m-img{
                object-fit: contain;
            }
        }

        .we-m-side-grp{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: 1.4rem;
            @include lg{
                margin-top: 0;
            }

            .we-m-item{
                width: 44%;
                font-family: 'Open Sans';
                padding: 1rem 0;
                
                border-bottom: 1px solid;
                margin-bottom: 6rem;

                .we-m-item-head{
                    font-weight: 600;
                    font-size: 26px;

                    @include lg{
                        font-family: 'Open Sans';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 46px;
                        line-height: 58px;
                        /* or 126% */

                        letter-spacing: 0.0025em;

                        color: #000000;
                       
                    }
                }
                .we-m-item-text{
                    margin-top: 2rem;
                }
            }
        }
    }
}

.why-choose-container{
    .why-choose-header{
        .why-choose-tittle{
            font-family: 'Source Sans Pro';
                font-style: normal;
                font-weight: 400;
                font-size: 55.0692px;
                line-height: 152%;
                

                text-align: center;
                letter-spacing: 0.0015em;

                color: #000000;
        }
        .why-choose-txt{
            text-align: center;
        }
    }
    .why-choose-wrapper{
        margin-top: 1.8rem;

        @include lg{
            margin-top: 3.4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;
        }
        .why-choose-img-wrapper{
            position: relative;
            height: 450px;
            
            @include lg{
                height: 600px;
                width: 540px;
                order: 2;
            }

            .why-choose-img{
                object-fit: contain;
            }
        }

        .why-choose-card-grp{
            margin-top: 1.8rem;

            @include lg{
                margin-top: 0;
                height: 550px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            .why-choose-card{
                margin-top: 1.4rem;
                font-family: 'poppins';

                &:nth-child(odd){
                    text-align: end;

                    .why-choose-card-icon-wrapper{
                        margin-left: auto;

                        @include lg{
                            margin-left: 0;
                        }
                    }
                }

                @include lg{
                    width: 60%;
                    margin-top: 0;
                }

                .why-choose-card-icon-wrapper{
                    position: relative;
                    height: 48px;
                    width: 48px;

                    .why-choose-card-icon{
                        object-fit: contain;
                    }
                }
                .why-choose-card-title{
                    font-size: 1.2rem;
                    font-weight: 600;
                }
                .why-choose-card-txt{
                    margin-top: .8rem;
                }
            }
        }


        .why-choose-grp-1{
            @include lg{
                order: 1;
                .why-choose-card{
                    text-align: right !important;
                    margin-left: auto;
                    .why-choose-card-icon-wrapper{

                        @include lg{
                            margin-left: auto !important;
                        }
                    }
                }
            }
        }

        .why-choose-grp-2{
            @include lg{
                order: 3;
                .why-choose-card{
                    text-align: left !important;

                    .why-choose-card-icon-wrapper{
                        @include lg{
                            margin-right: auto;
                        }
                    }
                }
            }
        }
    }
}


